<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/fields-of-study.css}" type="text/css"/>
</head>

<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div class="card">
                <div class="card-header py-3 bg-secondary bg-gradient bg-opacity-25">
                    <h3 class="mb-0 text-center"
                        th:text="#{fieldsOfStudy.header}">
                    </h3>
                </div>

                <div class="card-body">
                    <div class="d-flex mb-4">
                        <div class="p-1">
                            <a class="btn btn-secondary btn-rounded"
                               th:href="@{/dashboard/fields-of-study/first}">
                                <span th:text="#{fieldsOfStudy.button.first.level}"></span>
                                <i class="fas fa-regular fa-up-right-from-square"></i>
                            </a>
                        </div>
                        <div class="p-1">
                            <a class="btn btn-secondary btn-rounded"
                               th:href="@{/dashboard/fields-of-study/second}">
                                <span th:text="#{fieldsOfStudy.button.second.level}"></span>
                                <i class="fas fa-regular fa-up-right-from-square"></i>
                            </a>
                        </div>
                        <div class="p-1 ms-auto">
                            <div th:replace="field-of-study/buttons :: btn-add-new"></div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-3 g-4">

                        <th:block th:each="fieldMapOpt, iterStat : ${fieldsOfStudyMap}">
                            <div class="col">
                                <div class="card h-100">
                                    <div class="bg-image hover-overlay ripple"
                                         data-mdb-ripple-color="light">
                                        <img class="img-fluid"
                                             th:alt="${fieldMapOpt.value.get(0).name}"
                                             th:if="${fieldMapOpt.value.get(0).image} != null"
                                             th:src="@{${imagesPath} + '/' + ${fieldMapOpt.value.get(0).image}}"/>
                                        <img alt="Default image"
                                             class="img-fluid"
                                             th:src="@{${imagesPath} + '/' + 'default.jpg'}"
                                             th:unless="${fieldMapOpt.value.get(0).image} != null"/>
                                        <a th:href="@{/dashboard/fields-of-study/{id}(id=${fieldMapOpt.value.get(0).id})}">
                                            <div class="mask"
                                                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            th:text="${fieldMapOpt.value.get(0).name}"></h5>
                                        <p class="card-text"
                                           th:text="${fieldMapOpt.value.get(0).description}"></p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="dropdown">
                                            <button aria-expanded="false"
                                                    class="btn btn-primary dropdown-toggle"
                                                    data-mdb-toggle="dropdown"
                                                    th:text="#{fieldsOfStudy.item.card.btn.dropdown}"
                                                    type="button">
                                            </button>
                                            <ul class="dropdown-menu">
                                                <th:block
                                                        th:each="fieldOpt, iterStat2 : ${fieldMapOpt.value}">
                                                    <li>
                                                        <a class="dropdown-item"
                                                           th:href="@{/dashboard/fields-of-study/{id}(id=${fieldOpt.id})}">
                                                                    <span th:text="${fieldOpt.levelOfEducation.value}
                                                                    + ', ' + ${fieldOpt.mode.value.toLowerCase()}"></span>
                                                            <i class="fas fa-regular fa-up-right-from-square"></i>
                                                        </a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>


<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>