<!-- ======= Form for Subject ======= -->
<div th:fragment="item-form">
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.edit.card.body.name}"></h4>
        <div class="form-outline">
            <input class="form-control"
                   id="name"
                   th:field="*{name}"
                   type="text"/>
            <label class="form-label" for="name" th:text="#{fieldOfStudy.name}"></label>
        </div>
        <div class="alert alert-danger" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></div>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.levelOfEducation}"></h4>
        <select class="form-select" id="levelOfEducation" th:field="*{levelOfEducation}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.LevelOfEducation).values()}"
                    th:text="${fieldOpt.value}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.mode}"></h4>
        <select class="form-select" id="mode" th:field="*{mode}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.ModeOfStudy).values()}"
                    th:text="${fieldOpt.value}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.department}"></h4>
        <select class="form-select" id="department" th:field="*{department}">
            <option th:each="fieldOpt : ${departments}"
                    th:text="${fieldOpt.name}"
                    th:value="${fieldOpt.id}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.titleGained}"></h4>
        <select class="form-select" id="titleGained" th:field="*{title}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.AcademicTitle).values()}"
                    th:text="${fieldOpt.fullTitle}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.description}"></h4>
        <div class="form-outline">
                                    <textarea class="form-control"
                                              id="description"
                                              rows="5"
                                              th:field="*{description}"></textarea>
            <label class="form-label" for="description"
                   th:text="#{fieldOfStudy.description}"></label>
            <div class="form-helper" th:text="#{fieldOfStudy.description.helper}"></div>
        </div>

        <div class="alert alert-danger" th:errors="*{description}"
             th:if="${#fields.hasErrors('description')}"></div>
    </div>
</div>


<!-- ======= View FieldOfStudy card body ======= -->
<div th:fragment="view-item">
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.fieldOfStudy}"></h4>
        <span th:text="${fieldOfStudy.name}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.levelOfEducation}"></h4>
        <span th:text="${fieldOfStudy.levelOfEducation.value}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.mode}"></h4>
        <span th:text="${fieldOfStudy.mode.value}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.department}"></h4>
        <a class="text-body"
           th:href="@{/dashboard/departments/{id}(id=${fieldOfStudy.department.id})}">
            <span th:text="${fieldOfStudy.department.name}"></span>
            <i class="fas fa-regular fa-up-right-from-square"></i>
        </a>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.titleGained}"></h4>
        <span th:text="${fieldOfStudy.title.fullTitle} + ' (' + ${fieldOfStudy.title.prefix} + ')'"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.noOfSemesters}"></h4>
        <div th:text="${numberOfSemesters}"></div>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.ectsPoints}"></h4>
        <span th:text="${ects}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.description}"></h4>
        <div class="mb-2">
            <span th:text="#{fieldOfStudy.item.card.body.description.text} + ${fieldOfStudy.title.fullTitle.toLowerCase()} + ':'"></span>
        </div>
        <th:block th:each="descriptionItem : ${descriptionList}">
            <div class="mb-2">
                <i class="fas fa-regular fa-check"></i>
                <span th:text="${descriptionItem}"></span>
            </div>
        </th:block>
    </div>
</div>