<!-- ======= Form for Subject ======= -->
<div th:fragment="item-form">
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.edit.card.body.name}"></h4>
        <div class="form-outline">
            <input class="form-control"
                   id="name"
                   th:field="*{name}"
                   type="text"/>
            <label class="form-label" for="name" th:text="#{fieldOfStudy.name}"></label>
        </div>
        <div class="alert alert-danger" th:errors="*{name}"
             th:if="${#fields.hasErrors('name')}"></div>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.levelOfEducation}"></h4>
        <select class="form-select" id="levelOfEducation" th:field="*{levelOfEducation}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.LevelOfEducation).values()}"
                    th:text="${fieldOpt.value}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.mode}"></h4>
        <select class="form-select" id="mode" th:field="*{mode}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.ModeOfStudy).values()}"
                    th:text="${fieldOpt.value}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.department}"></h4>
        <select class="form-select" id="department" th:field="*{department}">
            <option th:each="fieldOpt : ${departments}"
                    th:text="${fieldOpt.name}"
                    th:value="${fieldOpt.id}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.titleGained}"></h4>
        <select class="form-select" id="titleGained" th:field="*{title}">
            <option th:each="fieldOpt : ${T(com.example.classroom.enums.AcademicTitle).values()}"
                    th:text="${fieldOpt.fullTitle}"
                    th:value="${fieldOpt}">
            </option>
        </select>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.description}"></h4>
        <div class="form-outline">
                                    <textarea class="form-control"
                                              id="description"
                                              rows="5"
                                              th:field="*{description}"></textarea>
            <label class="form-label" for="description"
                   th:text="#{fieldOfStudy.description}"></label>
            <div class="form-helper" th:text="#{fieldOfStudy.description.helper}"></div>
        </div>

        <div class="alert alert-danger" th:errors="*{description}"
             th:if="${#fields.hasErrors('description')}"></div>
    </div>
</div>


<!-- ======= View FieldOfStudy card body ======= -->
<div th:fragment="view-item">
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.fieldOfStudy}"></h4>
        <span th:text="${fieldOfStudy.name}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.levelOfEducation}"></h4>
        <span th:text="${fieldOfStudy.levelOfEducation.value}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.mode}"></h4>
        <span th:text="${fieldOfStudy.mode.value}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.department}"></h4>
        <a class="text-body"
           th:href="@{/dashboard/departments/{id}(id=${fieldOfStudy.department.id})}">
            <span th:text="${fieldOfStudy.department.name}"></span>
            <i class="fas fa-regular fa-up-right-from-square"></i>
        </a>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.titleGained}"></h4>
        <span th:text="${fieldOfStudy.title.fullTitle} + ' (' + ${fieldOfStudy.title.prefix} + ')'"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.noOfSemesters}"></h4>
        <div th:text="${numberOfSemesters}"></div>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.ectsPoints}"></h4>
        <span th:text="${ects}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{fieldOfStudy.item.card.body.description}"></h4>
        <div class="mb-2">
            <span th:text="#{fieldOfStudy.item.card.body.description.text} + ${fieldOfStudy.title.fullTitle.toLowerCase()} + ':'"></span>
        </div>
        <th:block th:each="descriptionItem : ${descriptionList}">
            <div class="mb-2">
                <i class="fas fa-regular fa-check"></i>
                <span th:text="${descriptionItem}"></span>
            </div>
        </th:block>
    </div>
</div>


<!-- ======= View FieldOfStudy Subjects ======= -->
<div th:fragment="subjects-view">
    <h4 class="card-title mb-4">
                    <span class="h4 fw-bold"
                          th:text="${fieldOfStudy.name} + ', '"></span>
        <span class="h5"
              th:text="${fieldOfStudy.levelOfEducation.value.toLowerCase()} + ' - '"></span>
        <span class="h5"
              th:text="${fieldOfStudy.title.fullTitle.toLowerCase()} + ', '"></span>
        <span class="h5"
              th:text="${fieldOfStudy.mode.value.toLowerCase()}"></span>
    </h4>
    <th:block th:each="semOpt, iterStat : ${T(com.example.classroom.enums.Semester).values()}">
        <div class="card my-3" th:id="'sem' + ${iterStat} +  '-card'">
            <div class="card-body">
                <h5 class="card-title fw-bold" th:text="${semOpt.description}"></h5>
                <div class="table-responsive">
                    <table class="table table-hover border-primary">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{fieldOfStudy.subjects.table.thead.name}"></th>
                            <th scope="col"
                                th:text="#{fieldOfStudy.subjects.table.thead.description}"></th>
                            <th scope="col"
                                th:text="#{fieldOfStudy.subjects.table.thead.hoursInSemester}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="subject: ${semestersMap.get(semOpt)}">
                            <th scope="row" th:text="${subject.name}"></th>
                            <td th:text="${subject.description}"></td>
                            <td th:text="${subject.hoursInSemester}"></td>
                        </tr>
                        </tbody>
                        <caption class="fst-italic">
                            <span th:text="#{fieldOfStudy.subjects.table.caption1}"></span>
                            <span class="fw-bold"
                                  th:text="${hoursInSemester.get(semOpt)}"></span>
                            &nbsp;&nbsp;
                            <span th:text="#{fieldOfStudy.subjects.table.caption2}"></span>
                            <span class="fw-bold"
                                  th:text="${hoursInSemester.get(semOpt)}"></span>
                        </caption>
                    </table>
                </div>
            </div>
        </div>
    </th:block>
</div>

<!-- ======= Edit FieldOfStudy Subjects ======= -->
<div th:fragment="edit-subjects">
    <h4 class="card-title mb-4">
                    <span class="h4 fw-bold"
                          th:text="${fieldOfStudy.name} + ', '"></span>
        <span class="h5"
              th:text="${fieldOfStudy.levelOfEducation.value.toLowerCase()} + ' - '"></span>
        <span class="h5"
              th:text="${fieldOfStudy.title.fullTitle.toLowerCase()} + ', '"></span>
        <span class="h5"
              th:text="${fieldOfStudy.mode.value.toLowerCase()}"></span>
    </h4>

    <th:block th:each="semester, iterStat : ${T(com.example.classroom.enums.Semester).values()}">
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title fw-bold" th:text="${semester.description}"></h5>
                <div class="table-responsive">
                    <table class="table table-hover border-primary">
                        <thead>
                        <tr>
                            <th class="bs-checkbox"
                                data-field="state"
                                rowspan="2" style="text-align: center; vertical-align: middle; width: 36px;">
                                <div class="form-check">
                                    <input aria-label="select all items" class="form-check-input th-inner" id="flexCheckDefault"
                                           name="btSelectAll"
                                           type="checkbox"/>
                                </div>
                            </th>
                            <th scope="col" th:text="#{fieldOfStudy.subjects.table.thead.name}"></th>
                            <th scope="col"
                                th:text="#{fieldOfStudy.subjects.table.thead.description}"></th>
                            <th scope="col"
                                th:text="#{fieldOfStudy.subjects.table.thead.hoursInSemester}"></th>
                            <th scope="col"
                                th:text="#{fieldOfStudy.subjects.table.thead.ects}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="subject : ${subjectsMap.get(semester)}">
                            <td class="bs-checkbox">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           name="btSelectItem"
                                           th:aria-label="${subject.name}"
                                           th:data-index="${subject}"
                                           th:field="*{subjects}"
                                           th:value="${subject.id}"
                                           type="checkbox"/>
                                </div>
                            </td>
                            <th scope="row" th:text="${subject.name}"></th>
                            <td th:text="${subject.description}"></td>
                            <td th:text="${subject.hoursInSemester}"></td>
                            <td th:text="${subject.ectsPoints}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>
</div>