<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/fields-of-study.css}" type="text/css"/>
</head>

<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div class="card" id="tableCard">
                <div class="card-header py-3 bg-secondary bg-gradient bg-opacity-25">
                    <h3 class="mb-0 fw-bold text-center"
                        th:text="${T(com.example.classroom.enums.LevelOfEducation).SECOND.value}">
                    </h3>
                </div>
                <!-- ======= FieldsOfStudy Details ======= -->
                <div th:replace="field-of-study/fieldsOfStudy-first :: fields-of-study-card-body"></div>
            </div>
        </section>
    </div>
</main>


<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>