<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/fields-of-study.css}" type="text/css"/>
</head>

<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div class="card">
                <div class="card-header py-3 bg-secondary bg-gradient bg-opacity-25">
                    <h3 class="mb-0 fw-bold text-center"
                        th:text="${T(com.example.classroom.enums.LevelOfEducation).FIRST.value}">
                    </h3>
                </div>
                <div class="card-body" th:fragment="fields-of-study-card-body">
                    <!-- ======= Buttons ======= -->
                    <div class="d-flex mb-4">
                        <div class="p-1">
                            <div th:replace="field-of-study/buttons :: btn-go-back"></div>
                        </div>
                        <div class="p-1 ms-auto">
                            <div th:replace="field-of-study/buttons :: btn-add-new"></div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <th:block th:each="fieldOpt, iterStat2 : ${fieldsOfStudy}">
                            <div class="col">
                                <!-- ======= Item Card ======= -->
                                <div class="card h-100">
                                    <div class="bg-image hover-overlay ripple"
                                         data-mdb-ripple-color="light">
                                        <img class="img-fluid"
                                             th:alt="${fieldOpt.name}"
                                             th:if="${fieldOpt.image} != null"
                                             th:src="@{${imagesPath} + '/' + ${fieldOpt.image}}"/>
                                        <img alt="Default image"
                                             class="img-fluid"
                                             th:src="@{${imagesPath} + '/' + 'default.jpg'}"
                                             th:unless="${fieldOpt.image} != null"/>
                                        <a th:href="@{/dashboard/fields-of-study/{id}(id=${fieldOpt.id})}">
                                            <div class="mask"
                                                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${fieldOpt.name}"></h5>
                                        <span class="text-muted"
                                              th:if="${fieldOpt.mode} == ${T(com.example.classroom.enums.ModeOfStudy).PT}"
                                              th:text="${fieldOpt.mode.value}"></span>
                                        <p class="card-text" th:text="${fieldOpt.description}"></p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a class="btn btn-primary"
                                           th:href="@{/dashboard/fields-of-study/{id}(id=${fieldOpt.id})}">
                                            <span th:text="#{button.view.fielOfStudy}"></span>
                                            <i class="fas fa-regular fa-up-right-from-square"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>


<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>