<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>


<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-3 bg-success bg-gradient text-dark bg-opacity-25">
                    <h3 class="mb-0 text-center">
                        <strong th:text="#{fieldOfStudy.edit.success} + ${fieldOfStudy.id}"></strong>
                    </h3>
                </div>
                <div class="card-body mx-4">
                    <!-- ======= FieldOfStudy Details ======= -->
                    <div th:replace="field-of-study/elements :: view-item"></div>
                    <!-- ======= Buttons ======= -->
                    <div th:replace="field-of-study/buttons :: goBackButton"></div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>