<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-3 bg-secondary bg-gradient bg-opacity-25">
                    <h3 class="mb-0 text-center">
                        <strong th:text="#{fieldOfStudy.edit.card.header}"></strong>
                    </h3>
                </div>
                <div class="card-body mx-4">
                    <form class="form-group needs-validation"
                          th:action="@{/dashboard/fields-of-study/update}"
                          th:object="${fieldOfStudy}"
                          th:method="post">
                        <input hidden id="id_input_id" th:field="*{id}" type="text">
                        <div th:fragment="fieldOfStudy-edit-form">
                            <div class="mb-4">
                                <h4 th:text="#{fieldOfStudy.edit.card.body.name}"></h4>
                                <input class="form-control"
                                       id="name"
                                       th:field="*{name}"
                                       type="text"
                                />
                                <div class="alert alert-danger" th:errors="*{name}"
                                     th:if="${#fields.hasErrors('name')}"></div>
                            </div>
                            <hr>

                            <div class="mb-4">
                                <h4 th:text="#{fieldOfStudy.item.card.body.levelOfEducation}"></h4>
                                <select class="form-select" id="levelOfEducation" th:field="*{levelOfEducation}">
                                    <option th:each="fieldOpt : ${T(com.example.classroom.enums.LevelOfEducation).values()}"
                                            th:text="${fieldOpt.value}"
                                            th:value="${fieldOpt}">
                                    </option>
                                </select>
                            </div>
                            <hr>

                            <div class="mb-4">
                                <h4 th:text="#{fieldOfStudy.item.card.body.mode}"></h4>
                                <select class="form-select" id="mode" th:field="*{mode}">
                                    <option th:each="fieldOpt : ${T(com.example.classroom.enums.ModeOfStudy).values()}"
                                            th:text="${fieldOpt.value}"
                                            th:value="${fieldOpt}">
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="mb-4">
                                <h4 th:text="#{fieldOfStudy.item.card.body.department}"></h4>
                                <select class="form-select" id="department" th:field="*{department}">
                                    <option th:each="fieldOpt : ${departments}"
                                            th:text="${fieldOpt.name}"
                                            th:value="${fieldOpt.id}">
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="mb-4">
                                <h4 th:text="#{fieldOfStudy.item.card.body.titleGained}"></h4>
                                <select class="form-select" id="titleGained" th:field="*{title}">
                                    <option th:each="fieldOpt : ${T(com.example.classroom.enums.AcademicTitle).values()}"
                                            th:text="${fieldOpt.fullTitle}"
                                            th:value="${fieldOpt}">
                                    </option>
                                </select>
                            </div>
                            <hr>
                            <div class="mb-4">
                                <h4 th:text="#{fieldOfStudy.item.card.body.description}"></h4>
                                <input class="form-control"
                                       id="description"
                                       th:field="*{description}"
                                       type="text"
                                />
                                <div class="alert alert-danger" th:errors="*{description}"
                                     th:if="${#fields.hasErrors('description')}"></div>
                            </div>
                        </div>

                        <div class="row my-2 justify-content-end">
                            <div class="col-auto">
                                <a class="btn btn-secondary"
                                   th:href="@{/dashboard/fields-of-study/{id}(id=${fieldOfStudy.id})}">
                                    <i class="fa fa-times-circle mr-2"></i><span th:text="#{button.cancel}"></span></a>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" name="add" type="submit">
                                    <i class="fas fa-check mr-2"></i><span th:text="#{button.submit}"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>