<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
</head>
<body>

<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-3 bg-secondary bg-gradient bg-opacity-25">
                    <h3 class="mb-0 text-center">
                        <strong th:text="${fieldOfStudy.name}"></strong>
                    </h3>
                </div>
                <div class="card-body mx-4">

                    <div th:fragment="fieldOfStudy-details">
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.fieldOfStudy}"></h4>
                            <span th:text="${fieldOfStudy.name}"></span>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.levelOfEducation}"></h4>
                            <span th:text="${fieldOfStudy.levelOfEducation.value}"></span>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.mode}"></h4>
                            <span th:text="${fieldOfStudy.mode.value}"></span>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.department}"></h4>
                            <a class="text-body"
                               th:href="@{/dashboard/departments/{id}(id=${fieldOfStudy.department.id})}">
                                <span th:text="${fieldOfStudy.department.name}"></span>
                                <i class="fas fa-regular fa-up-right-from-square"></i>
                            </a>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.titleGained}"></h4>
                            <span th:text="${fieldOfStudy.title.fullTitle} + ' (' + ${fieldOfStudy.title.prefix} + ')'"></span>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.noOfSemesters}"></h4>
                            <div th:text="${numberOfSemesters}"></div>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.ectsPoints}"></h4>
                            <span th:text="${ectsPoints}"></span>
                        </div>
                        <hr>
                        <div class="mb-4">
                            <h4 th:text="#{fieldOfStudy.item.card.body.description}"></h4>
                            <div class="mb-2">
                                <span th:text="#{fieldOfStudy.item.card.body.description.text} + ${fieldOfStudy.title.fullTitle.toLowerCase()} + ':'"></span>
                            </div>
                            <th:block th:each="descriptionItem : ${descriptionList}">
                                <div class="mb-2">
                                    <i class="fas fa-regular fa-check"></i>
                                    <span th:text="${descriptionItem}"></span>
                                </div>
                            </th:block>
                        </div>
                    </div>


                    <div class="row my-2 justify-content-end">
                        <div class="col-auto">
                            <a class="btn btn-primary"
                               th:href="@{/dashboard/fields-of-study/{id}/subjects(id=${fieldOfStudy.id})}">
                                <i class="fas fa-microscope fa-fw me-3"></i><span th:text="#{button.subjects}"></span>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-primary"
                               th:href="@{/dashboard/fields-of-study/edit/{id}(id=${fieldOfStudy.id})}">
                                <i class="fas fa-pen mr-2"></i><span th:text="#{button.edit}"></span>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-outline-danger delBtn"
                               th:href="@{/dashboard/fields-of-study/delete/{id}(id=${fieldOfStudy.id})}">
                                <i class="fa fa-trash-can fa-lg mr-2"></i><span th:text="#{button.delete}"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>