<!-- ======= Form for Subject ======= -->
<div th:fragment="subject-form">
    <input hidden type="text" id="id_input_id" th:field="*{id}">
    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="first_name">
            <span th:text="#{subject.name}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   type="text"
                   id="first_name"
                   th:field="*{name}"/>
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"></div>
    </div>
    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="last_name">
            <span th:text="#{subject.description}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   type="text"
                   id="last_name"
                   th:field="*{description}"/>
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
             th:errors="*{description}"></div>
    </div>

    <div class="row mb-4">
        <label class="col-sm-4 col-form-label"
               for="semester">
            <span th:text="#{subject.semester}"></span>
        </label>
        <div class="col-sm">
            <select class="form-select" id="semester" th:field="*{semester}">
                <option th:each="fieldOpt : ${T(com.example.classroom.enums.Semester).values()}"
                        th:text="${fieldOpt.fullName}"
                        th:value="${fieldOpt}">
                </option>
            </select>
        </div>
    </div>
    <div class="row mb-4">
        <label class="col-sm-4 col-form-label"
               for="age">
            <span th:text="#{subject.hoursInSemester}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   type="number" id="age"
                   th:field="*{hoursInSemester}"/>
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('hoursInSemester')}"
             th:errors="*{hoursInSemester}">
        </div>
    </div>
    <div class="row mb-4">
        <label class="col-sm-4 col-form-label"
               for="ectsPoints">
            <span th:text="#{subject.ects}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   id="ectsPoints" th:field="*{ectsPoints}"
                   type="number"/>
        </div>
        <div class="alert alert-danger" th:errors="*{ectsPoints}"
             th:if="${#fields.hasErrors('ectsPoints')}">
        </div>
    </div>
    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="field_of_study">
            <span th:text="#{student.fieldOfStudy}"></span>
        </label>
        <div class="col-sm">
            <select class="form-select" id="field_of_study" th:field="*{fieldOfStudy}">
                <option th:each="fieldOpt : ${fieldsOfStudy}"
                        th:text="${fieldOpt.name} + ', ' +
                        ${fieldOpt.levelOfEducation.value} + ', ' +
                        ${fieldOpt.mode.value}"
                        th:value="${fieldOpt.id}">
                </option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="teachers_list">
            <span th:text="#{subject.teachers.list}"></span>
        </label>
        <div class="col-sm text-left">
            <th:block th:each="fieldOpt : ${teachers}">
                <div>
                    <input class="form-check-input m-2" type="checkbox" value="" id="teachers_list"
                           th:field="*{teachers}"
                           th:value="${fieldOpt.id}" th:text="${fieldOpt}">
                </div>
            </th:block>
        </div>
    </div>
    <!-- ======= Buttons ======= -->
    <div th:replace="fragments/buttons :: #subjectCancelSubmitBtn"></div>
</div>

<!-- ======= View Subject card body ======= -->
<div th:fragment="view-subject">
    <div class="mb-4">
        <h4 th:text="#{subject.name}"></h4>
        <span th:text="${subject.name}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.description}"></h4>
        <span th:text="${subject.description}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.hoursInSemester}"></h4>
        <span th:text="${subject.hoursInSemester}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.ects}"></h4>
        <span th:text="${subject.ectsPoints}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.fieldOfStudy}"></h4>
        <a class="text-body"
           th:href="@{/dashboard/fields-of-study/{id}(id=${subject.fieldOfStudy.id})}">
            <span th:text="${subject.fieldOfStudy.name}"></span>
            <i class="fas fa-regular fa-up-right-from-square"></i>
        </a>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{subject.teachers.list}"></h4>
        <th:block th:each="fieldOpt, count : ${subject.teachers}">
            <div class="mb-2">
                <span th:text="${count.index + 1} + '. '"></span>
                <a class="text-body"
                   th:href="@{/dashboard/teachers/{id}(id=${fieldOpt.id})}">
                <span th:text="${fieldOpt.firstName} + ' ' + ${fieldOpt.lastName}"
                      th:value="${fieldOpt.id}"></span>
                    <i class="fas fa-regular fa-up-right-from-square"></i>
                </a>
            </div>
        </th:block>
    </div>

</div>