<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{user.change.password.header}">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                         alt="avatar"
                                         class="rounded-circle img-fluid" style="width: 150px;">
                                    <!--                                    <h5 class="my-3" th:text="${user.firstName + ' ' + user.lastName}"></h5>-->
                                    <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                                    <div class="row justify-content-center mb-2">
                                        <a class="col-6 btn btn-outline-danger delBtn"
                                           th:href="@{/dashboard/profile}">
                                            <i class="fa fa-circle-xmark fa-lg mr-1"></i>
                                            <span th:text="#{button.cancel}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form class="form-password-reset" th:action="@{/dashboard/profile/password}"
                                          method="post" th:object="${passwordChange}"
                                          novalidate>

                                        <div th:if="${param.error}" th:text="#{password.change.invalid}"
                                             class="alert alert-danger">
                                        </div>

                                        <div class="form-outline mb-4"
                                             th:classappend="${#fields.hasErrors('oldPassword')} ? 'mb-5'">
                                            <input th:field="*{oldPassword}" type="password" id="oldPassword"
                                                   class="form-control"
                                                   th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid'"
                                                   required/>
                                            <label class="form-label" for="oldPassword"
                                                   th:text="#{password.change.old.password}"></label>
                                            <div class="invalid-feedback">
                                                <span class="mr-1"
                                                      th:each="error: ${#fields.errors('oldPassword')}"
                                                      th:text="${error}"></span>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4"
                                             th:classappend="${#fields.hasErrors('passwordResetRequest.password')} ? 'mb-10'">
                                            <input th:field="*{passwordResetRequest.password}" type="password"
                                                   id="password"
                                                   th:classappend="${#fields.hasErrors('passwordResetRequest.matchingPassword') ||
                                                   #fields.hasErrors('passwordResetRequest.password')} ? 'is-invalid'"
                                                   class="form-control"
                                                   required/>
                                            <label class="form-label" for="password"
                                                   th:text="#{password.change.new.password}"></label>
                                            <div class="invalid-feedback"
                                                 th:if="${#fields.hasErrors('passwordResetRequest.password')}">
                                                <ul>
                                                    <li th:text="#{input.helper.password1}"></li>
                                                    <li th:text="#{input.helper.password2}"></li>
                                                    <li th:text="#{input.helper.password3}"></li>
                                                    <li th:text="#{input.helper.password4}"></li>
                                                    <li th:text="#{input.helper.password5}"></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-3">
                                            <input th:field="*{passwordResetRequest.matchingPassword}" type="password"
                                                   id="matchingPassword"
                                                   th:classappend="${#fields.hasErrors('passwordResetRequest.matchingPassword') ||
                                                   #fields.hasErrors('passwordResetRequest.password')} ? 'is-invalid'"
                                                   class="form-control"
                                                   required/>
                                            <label class="form-label" for="matchingPassword"
                                                   th:text="#{password.change.password.confirm}"></label>
                                            <div class="invalid-feedback">
                                                <span class="mr-1"
                                                      th:each="error: ${#fields.errors('passwordResetRequest.matchingPassword')}"
                                                      th:text="${error}"></span>
                                            </div>
                                        </div>
                                        <div class="text-center pt-1 pb-1">
                                            <button class="btn btn-primary"
                                                    type="submit" th:text="#{password.change.button}">
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>