<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{user.change.password.header}">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div th:replace="~{user/elements :: profile-details-picture}"></div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form class="form-password-reset" th:action="@{/dashboard/profile/password}"
                                          method="post" th:object="${passwordChange}"
                                          novalidate>
                                        <div th:if="${param.error}" th:text="#{password.change.invalid}"
                                             class="alert alert-danger">
                                        </div>

                                        <div class="form-outline mb-4"
                                             th:classappend="${#fields.hasErrors('oldPassword') ||
                                              invalidOldPassword != null} ? 'mb-5'">
                                            <input th:field="*{oldPassword}" type="password" id="oldPassword"
                                                   class="form-control"
                                                   th:classappend="${#fields.hasErrors('oldPassword') ||
                                                   invalidOldPassword != null} ? 'is-invalid'"
                                                   required/>
                                            <label class="form-label" for="oldPassword"
                                                   th:text="#{password.change.old.password}"></label>
                                            <div class="invalid-feedback">
                                                <span class="mr-1"
                                                      th:each="error: ${#fields.errors('oldPassword')}"
                                                      th:text="${error}">
                                                </span>
                                                <span th:if="${invalidOldPassword}"
                                                      th:text="#{invalid.old.password.msg1}">
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4"
                                             th:classappend="${#fields.hasErrors('passwordRequest.password')} ? 'mb-10'">
                                            <input th:field="*{passwordRequest.password}" type="password"
                                                   id="password"
                                                   th:classappend="${#fields.hasErrors('passwordRequest.matchingPassword') ||
                                                   #fields.hasErrors('passwordRequest.password')} ? 'is-invalid'"
                                                   class="form-control"
                                                   required/>
                                            <label class="form-label" for="password"
                                                   th:text="#{password.change.new.password}"></label>
                                            <div class="invalid-feedback"
                                                 th:if="${#fields.hasErrors('passwordRequest.password')}">
                                                <ul>
                                                    <li th:text="#{input.helper.password1}"></li>
                                                    <li th:text="#{input.helper.password2}"></li>
                                                    <li th:text="#{input.helper.password3}"></li>
                                                    <li th:text="#{input.helper.password4}"></li>
                                                    <li th:text="#{input.helper.password5}"></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4"
                                             th:classappend="${#fields.hasErrors('passwordRequest.matchingPassword')} ? 'mb-5'">
                                            <input th:field="*{passwordRequest.matchingPassword}" type="password"
                                                   id="matchingPassword"
                                                   th:classappend="${#fields.hasErrors('passwordRequest.matchingPassword') ||
                                                   #fields.hasErrors('passwordRequest.password')} ? 'is-invalid'"
                                                   class="form-control"
                                                   required/>
                                            <label class="form-label" for="matchingPassword"
                                                   th:text="#{password.change.password.confirm}"></label>
                                            <div class="invalid-feedback">
                                                <span class="mr-1"
                                                      th:each="error: ${#fields.errors('passwordRequest.matchingPassword')}"
                                                      th:text="${error}"></span>
                                            </div>
                                        </div>

                                        <div class="row justify-content-start">
                                            <div class="col-auto">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fas fa-check mr-1"></i>
                                                    <span th:text="#{button.submit}"></span>
                                                </button>
                                            </div>
                                            <div class="col-auto">
                                                <a class="btn btn-secondary" th:href="@{/dashboard/profile}">
                                                    <i class="fa fa-times-circle mr-1"></i>
                                                    <span th:text="#{button.cancel}"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>