<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <header th:replace="~{fragments/header :: header}"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="~{dashboard/fragments/navigation :: #navigation}"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-4 title-bar">
                    <div th:replace="~{fragments/breadcrumb :: breadcrumb}"></div>
                    <div class="page-title"
                         th:text="#{user.profile.header}">
                    </div>
                </div>
                <div class="card-body">

                    <div th:replace="~{fragments/alerts :: user-profile-view-alerts}"></div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div th:replace="~{user/elements :: profile-details-picture}"></div>

                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{user.full.name}"></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0"
                                               th:text="${user.firstName + ' ' + user.lastName}"></p>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{user.email}"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="text-muted mb-0" th:text="${user.email}"></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="btn btn-outline-primary"
                                               th:href="@{/dashboard/profile/email}">
                                                <i class="fas fa-pen mr-1"></i>
                                                <span th:text="#{button.change}"></span>
                                            </a>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{user.password}"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="text-muted mb-0" th:text="#{user.password.value}"></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="btn btn-outline-primary"
                                               th:href="@{/dashboard/profile/password}">
                                                <i class="fas fa-pen mr-1"></i>
                                                <span th:text="#{button.change}"></span>
                                            </a>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{user.role}"></p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0"
                                               th:text="${user.role.description}"></p>
                                        </div>
                                    </div>

                                    <div sec:authorize="hasAnyRole('ROLE_STUDENT', 'ROLE_TEACHER', 'ROLE_DEAN')">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" th:text="#{user.age}"></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0"
                                                   th:text="${user.attendee.age}"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div sec:authorize="hasAnyRole('ROLE_STUDENT', 'ROLE_TEACHER', 'ROLE_DEAN')">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" th:text="#{user.phone}"></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">(098) 765-4321</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div sec:authorize="hasAnyRole('ROLE_STUDENT', 'ROLE_TEACHER', 'ROLE_DEAN')">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" th:text="#{user.address}"></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div sec:authorize="hasRole('ROLE_DEAN')">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" th:text="#{user.department}"></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <a class="text-muted mb-0"
                                                   th:href="@{/dashboard/departments/{id}(id=${user.attendee.department.id})}">
                                                    <span th:text="${user.attendee.department.name}"></span>
                                                    <i class="fas fa-regular fa-up-right-from-square ml-1"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div sec:authorize="hasRole('ROLE_STUDENT')">
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" th:text="#{user.fieldOfStudy}"></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <a class="text-muted mb-0"
                                                   th:unless="${user.attendee.fieldOfStudy == null}"
                                                   th:href="@{/dashboard/fields-of-study/{id}(id=${user.attendee.fieldOfStudy.id})}">
                                                    <span th:text="${user.attendee.fieldOfStudy.name}"></span>
                                                    <i class="fas fa-regular fa-up-right-from-square ml-1"></i>
                                                </a>
                                                <p class="text-muted mb-0"
                                                   th:if="${user.attendee.fieldOfStudy == null}"
                                                   th:text="#{student.no.fieldOfStudy}">
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" th:text="#{user.department}"></p>
                                            </div>
                                            <div class="col-sm-9">
                                                <a class="text-muted mb-0"
                                                   th:unless="${user.attendee.fieldOfStudy == null}"
                                                   th:href="@{/dashboard/departments/{id}(id=${user.attendee.fieldOfStudy.department.id})}">
                                                    <span th:text="${user.attendee.fieldOfStudy.department.name}"></span>
                                                    <i class="fas fa-regular fa-up-right-from-square ml-1"></i>
                                                </a>
                                                <p class="text-muted mb-0"
                                                   th:if="${user.attendee.fieldOfStudy == null}"
                                                   th:text="#{student.no.department}">
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div sec:authorize="hasRole('ROLE_STUDENT')" class="col-md-6">
                                    <div class="card mb-4">
                                        <div th:unless="${user.attendee.fieldOfStudy == null}">
                                            <div class="bg-image hover-overlay ripple"
                                                 data-mdb-ripple-color="light">
                                                <img class="field-of-study-img"
                                                     th:alt="${user.attendee.fieldOfStudy.name}"
                                                     th:unless="${user.attendee.fieldOfStudy.image} == null"
                                                     th:src="@{${imagesPath} + '/' + ${user.attendee.fieldOfStudy.image}}"/>
                                                <img class="field-of-study-img"
                                                     th:alt="${user.attendee.fieldOfStudy.name}"
                                                     th:src="@{${imagesPath} + '/' + 'default.jpg'}"
                                                     th:if="${user.attendee.fieldOfStudy.image} == null"/>
                                                <a th:href="@{/dashboard/fields-of-study/{id}(id=${user.attendee.fieldOfStudy.id})}">
                                                    <div class="mask"
                                                         style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"
                                                    th:text="${user.attendee.fieldOfStudy.name}"></h5>
                                                <span class="text-muted"
                                                      th:text="${user.attendee.fieldOfStudy.mode.value}"></span>
                                                <p class="card-text"
                                                   th:text="${user.attendee.fieldOfStudy.description}"></p>
                                            </div>
                                            <div class="card-footer text-center">
                                                <a class="btn btn-primary"
                                                   th:href="@{/dashboard/fields-of-study/{id}(id=${user.attendee.fieldOfStudy.id})}">
                                                    <span th:text="#{button.view.fielOfStudy}"></span>
                                                    <i class="fas fa-regular fa-up-right-from-square"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card mb-4 mb-md-0">
                                        <div class="card-body">
                                            <p class="mb-4"><span
                                                    class="text-primary font-italic me-1">assigment</span>
                                                Project Status
                                            </p>
                                            <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 80%"
                                                     aria-valuenow="80"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 72%"
                                                     aria-valuenow="72"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 89%"
                                                     aria-valuenow="89"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                            <div class="progress rounded" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 55%"
                                                     aria-valuenow="55"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                            <div class="progress rounded mb-2" style="height: 5px;">
                                                <div class="progress-bar" role="progressbar" style="width: 66%"
                                                     aria-valuenow="66"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end m-4">
                    <a class="col-auto btn btn-outline-primary ms-1 mr-2"
                       th:href="@{/dashboard/profile/edit}">
                        <i class="fas fa-pen mr-1"></i>
                        <span th:text="#{button.profile.edit}"></span>
                    </a>
                    <a class="col-auto btn btn-outline-danger delBtn"
                       data-bs-toggle="modal" data-bs-target="#delete-account-modal">
                        <i class="fa fa-trash-can fa-lg mr-1"></i>
                        <span th:text="#{button.delete.account}"></span>
                    </a>
                </div>

            </div>
        </section>
    </div>
</main>

<!-- Delete Account Modal -->
<div th:fragment="delete-account-modal" class="modal fade" id="delete-account-modal" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:text="#{delete.account.modal.header}"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" th:aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p th:text="#{delete.account.modal.body}"></p>
                <p th:text="#{delete.account.modal.body2}"></p>
            </div>
            <div class="modal-footer">
                <div class="col-auto">
                    <a class="btn btn-secondary" href="" data-bs-dismiss="modal">
                        <i class="fa fa-times-circle mr-2"></i><span th:text="#{button.cancel}"></span></a>
                </div>
                <div class="col-auto">
                    <a class="btn btn btn-danger btn-block"
                       th:href="@{/dashboard/profile/delete/{id}(id=${user.id})}">
                        <i class="fa fa-trash-can fa-lg mr-1"></i>
                        <span th:text="#{button.delete}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS Scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>