<!-- ======= Form for Teacher ======= -->
<div th:fragment="teacher-form">

<div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="first_name">
            <span th:text="#{teacher.firstName}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   id="first_name"
                   th:field="*{firstName}"
                   type="text"
            />
        </div>
        <div class="alert alert-danger" th:errors="*{firstName}"
             th:if="${#fields.hasErrors('firstName')}"></div>
    </div>

    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="last_name">
            <span th:text="#{teacher.lastName}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   id="last_name"
                   th:field="*{lastName}"
                   type="text"
            />
        </div>
        <div class="alert alert-danger" th:errors="*{lastName}"
             th:if="${#fields.hasErrors('lastName')}"></div>
    </div>

    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="email">
            <span th:text="#{teacher.email}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   id="email"
                   th:field="*{email}"
                   type="text"
            />
        </div>
        <div class="alert alert-danger" th:errors="*{email}"
             th:if="${#fields.hasErrors('email')}"></div>
    </div>

    <div class="row mb-4">
        <label class="col-sm-4 col-form-label"
               for="age">
            <span th:text="#{teacher.age}"></span>
        </label>
        <div class="col-sm">
            <input class="form-control"
                   id="age" th:field="*{age}"
                   type="number"/>
        </div>
        <div class="alert alert-danger" th:errors="*{age}"
             th:if="${#fields.hasErrors('age')}">
        </div>
    </div>

    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="students_list">
            <span th:text="#{teacher.subject}"></span>
        </label>
        <div class="col-sm text-left">
            <th:block th:each="fieldOpt : ${subjects}">
                <div>
                    <input class="form-check-input m-2" id="subjects_list" th:field="*{subjects}"
                           th:text="${fieldOpt.name}  + ', Field of study: ' + ${fieldOpt.fieldOfStudy.name}
                           + ', ' + ${fieldOpt.semester.description}"
                           th:value="${fieldOpt.id}"
                           type="checkbox" value="">
                </div>
            </th:block>
        </div>
    </div>


    <div class="row mb-4">
        <label class="col-form-label col-sm-4"
               for="students_list">
            <span th:text="#{teacher.studentList}"></span>
        </label>
        <div class="col-sm text-left">
            <th:block th:each="fieldOpt : ${students}">
                <div>
                    <input class="form-check-input m-2" id="students_list" th:field="*{students}" th:text="${fieldOpt}"
                           th:value="${fieldOpt.id}"
                           type="checkbox" value="">
                </div>
            </th:block>
        </div>
    </div>


</div>

<!-- ======= View Teacher card body ======= -->
<div th:fragment="view-teacher">
    <div class="mb-4">
        <h4 th:text="#{teacher.firstName}"></h4>
        <span th:text="${teacher.firstName}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{teacher.lastName}"></h4>
        <span th:text="${teacher.lastName}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{teacher.email}"></h4>
        <span th:text="${teacher.email}"></span>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{teacher.age}"></h4>
        <span th:text="${teacher.age}"></span>
    </div>
    <hr>
    <div class="mb-4" th:if="${teacher.department != null}">
        <h4 th:text="#{teacher.department}"></h4>
        <a class="text-body"
           th:href="@{/dashboard/departments/{id}(id=${teacher.department.id})}">
            <span th:text="${teacher.department.name}"></span>
            <i class="fas fa-regular fa-up-right-from-square"></i>
        </a>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{teacher.studentList}"></h4>
        <th:block th:each="fieldOpt, count : ${teacher.students}">
            <div class="mb-2">
                <span th:text="${count.index + 1} + '. '"></span>
                <a class="text-body"
                   th:href="@{/dashboard/students/{id}(id=${fieldOpt.id})}">
                <span th:text="${fieldOpt.firstName} + ' ' + ${fieldOpt.lastName}"
                      th:value="${fieldOpt.id}"></span>
                    <i class="fas fa-regular fa-up-right-from-square"></i>
                </a>
            </div>
        </th:block>
    </div>
    <hr>
    <div class="mb-4">
        <h4 th:text="#{teacher.subject}"></h4>
        <th:block th:each="fieldOpt, count : ${teacher.subjects}">
            <div class="mb-2">
                <span th:text="${count.index + 1} + '. '"></span>
                <a class="text-body"
                   th:href="@{/dashboard/subjects/{id}(id=${fieldOpt.id})}">
                <span th:text="${fieldOpt.name}"
                      th:value="${fieldOpt.id}"></span>
                    <i class="fas fa-regular fa-up-right-from-square"></i>
                </a>
            </div>
        </th:block>
    </div>
</div>
