<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alert</title>
</head>
<body>

<!-- Account Exists Alert Section -->
<section th:fragment="account-exists" th:if="${emailExists}">

    <div role="alert"
         class="alert alert-danger d-flex align-items-center">
        <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
        <div>
            <strong th:text="#{alert.email.exists.msg1}"></strong>
            <span th:text="#{alert.email.exists.msg2}"></span>
            <strong th:text="${emailExists} + '.'"></strong>
            <br>
            <span th:text="#{alert.email.exists.msg3}"></span>
        </div>
    </div>
</section>
<!-- End Account Exists Alert Section -->

<div th:fragment="sign-in-page-alerts">
    <!-- Account Not Found Alert Section -->
    <section th:fragment="account-not-found" th:if="${accountNotFound}">

        <div role="alert"
             class="alert alert-danger d-flex align-items-center">
            <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
            <div>
                <strong th:text="#{msg.error}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.mail.error.msg1}">&nbsp;</span>
                <strong th:text="${accountNotFound}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.mail.error.msg2}"></span>
            </div>
        </div>
    </section>
    <!-- End Not Found Alert Section -->

    <!-- Create Account Alert Section -->
    <section th:fragment="account-create-success" th:if="${createSuccess}">
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
            <i class="fas fa-check-circle" role="img" aria-label="Success:"></i>
            <div class="mx-1">
                <strong th:text="#{alert.signup.success.msg1}"></strong>
                <span th:text="#{alert.signup.success.msg2}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Create Account Alert Section -->

    <!--Reset Password Alert Section -->
    <section th:fragment="reset-password-request" th:if="${resetPassword}">
        <div th:if="${resetPasswordResult}" role="alert"
             class="alert alert-success alert-dismissible d-flex align-items-center">
            <i class="fas fa-check-circle mr-2"></i>
            <div>
                <strong th:text="#{msg.success}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.mail.success.msg1}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
        <div th:unless="${resetPasswordResult}" role="alert"
             class="alert alert-danger alert-dismissible d-flex align-items-center">
            <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
            <div>
                <strong th:text="#{msg.error}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.mail.error.msg1}">&nbsp;</span>
                <strong th:text="${resetPassword}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.mail.error.msg2}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Reset Password Alert Section -->

    <!-- Invalid Reset Password Token Alert Section -->
    <section th:fragment="reset-password-invalid-token" th:if="${resetPasswordInvalidToken}">
        <div role="alert"
             class="alert alert-danger alert-dismissible d-flex align-items-center">
            <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
            <div>
                <strong th:text="#{msg.error}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.invalid.token.error.msg1}"></span>
                <strong th:text="#{alert.reset.password.invalid.token.error.msg2}"></strong>
                <span th:text="#{alert.reset.password.invalid.token.error.msg3}"></span>
                <strong th:text="#{alert.reset.password.invalid.token.error.msg4}"></strong>
                <br>
                <span th:text="#{alert.reset.password.invalid.token.error.msg6}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Reset Password Alert Section -->

    <!--Reset Password Success Alert Section -->
    <section th:fragment="reset-password-success" th:if="${resetPasswordSuccess}">
        <div role="alert" class="alert alert-success alert-dismissible d-flex align-items-center">
            <i class="fas fa-check-circle mr-2" role="img" aria-label="Success:"></i>
            <div>
                <strong th:text="#{msg.success}">&nbsp;</strong>
                <span th:text="#{alert.reset.password.success.msg1}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Reset Password Success Alert Section -->

    <!-- Login Failure Alert Section -->
    <section th:fragment="login-failure" th:if="${param.error}"
             th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        <div role="alert"
             class="alert alert-danger alert-dismissible d-flex align-items-center">
            <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
            <!--            <span th:text="${errorMsg}"></span>-->
            <div th:if="${errorMsg.contains('Bad credentials')}">
                <strong th:text="#{alert.invalid.credentials1}">&nbsp;</strong>
                <span th:text="#{alert.invalid.credentials2}"></span>
            </div>
            <div th:if="${errorMsg.contains('User is disabled')}">
                <strong th:text="#{alert.invalid.credentials1}">&nbsp;</strong>
                <span th:text="#{alert.account.not.verified1}"></span>
                <br>
                <span th:text="#{alert.account.not.verified2}"></span>
                <a class="text-danger fw-bold" th:href="@{verification-email/send}"
                   th:text="#{alert.account.not.verified3}"
                   data-bs-toggle="modal" data-bs-target="#resendVerificationEmailModal"></a>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Login Failure Alert Section -->

    <!-- Invalid Email Verification Token Alert Section -->
    <section th:fragment="invalid-email-verification-token" th:if="${invalidEmailVerificationToken}">
        <div role="alert" class="alert alert-danger alert-dismissible d-flex align-items-center">
            <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
            <div>
                <strong th:text="#{alert.error}">&nbsp;</strong>
                <span th:text="#{alert.invalid.email.verification.token.msg1}"></span>
                <strong th:text="#{alert.invalid.email.verification.token.msg2}"></strong>
                <span th:text="#{alert.invalid.email.verification.token.msg3}"></span>
                <strong th:text="#{alert.invalid.email.verification.token.msg4}"></strong>
                <br>
                <span th:text="#{alert.invalid.email.verification.token.msg5}"></span>
                <a class="resend-verification-email-link" th:href="@{verification-email}"
                   th:text="#{alert.invalid.email.verification.token.msg6}"
                   data-bs-toggle="modal" data-bs-target="#resendVerificationEmailModal">
                </a>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Invalid Email Verification Token Alert Section -->

    <!-- Email Verification Success Alert Section -->
    <section th:fragment="email-verification-success" th:if="${emailVerificationSuccess}">
        <div role="alert" class="alert alert-success alert-dismissible d-flex align-items-center">
            <i class="fas fa-check-circle mr-2" role="img" aria-label="Success:"></i>
            <div>
                <strong th:text="#{alert.success}">&nbsp;</strong>
                <span th:text="#{alert.email.verification.success.msg1}"></span>
                <br>
                <span th:text="#{alert.email.verification.success.msg2}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Email Verification Success Alert Section -->

    <!-- Account Already Verified Alert Section -->
    <section th:fragment="account-already-verified" th:if="${accountAlreadyVerified}">
        <div role="alert" class="alert alert-info alert-dismissible d-flex align-items-center">
            <i class="fas fa-circle-info mr-2" role="img" aria-label="Info:"></i>
            <div>
                <span th:text="#{alert.account.already.verified.msg1}"></span>
                <strong th:text="${accountAlreadyVerified}"></strong>
                <span th:text="#{alert.account.already.verified.msg2}"></span>
                <br>
                <span th:text="#{alert.account.already.verified.msg3}"></span>

            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Account Already Verified Alert Section -->

    <!-- RESEND Email Verification Email Success Alert Section -->
    <section th:fragment="resend-email-verification-email-success" th:if="${resendVerificationEmailSuccess}">
        <div role="alert" class="alert alert-success alert-dismissible d-flex align-items-center">
            <i class="fas fa-check-circle mr-2" role="img" aria-label="Success:"></i>
            <div>
                <strong th:text="#{alert.success}">&nbsp;</strong>
                <span th:text="#{alert.resend.verification.email.success.msg1}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End RESEND Email Verification Email Success Alert Section -->

    <!-- Too Many Login Attempts Alert Section -->
    <section th:fragment="too-many-login-attempts" th:if="${tooManyLoginAttempts}">
        <div role="alert"
             class="alert alert-danger alert-dismissible d-flex align-items-center">
            <i class="fas fa-xmark-circle mr-2" role="img" aria-label="Error:"></i>
            <div>
                <strong th:text="#{alert.too.many.login.attempts1}">&nbsp;</strong>
                <span th:text="#{alert.too.many.login.attempts2}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Too Many Login Attempts Alert Section -->
</div>

<div th:fragment="user-profile-view-alerts">
    <!-- Password Change Success Alert Section -->
    <section th:fragment="password-change-success" th:if="${passwordChangeSuccess}">
        <div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
            <i class="fas fa-check-circle" role="img" aria-label="Success:"></i>
            <div class="mx-1">
                <strong th:text="#{alert.password.change.success.msg1}"></strong>
                <span th:text="#{alert.password.change.success.msg2}"></span>
            </div>
            <button class="btn-close" data-bs-dismiss="alert" type="button" aria-label="Close"></button>
        </div>
    </section>
    <!-- End Password Change Success Alert Section -->
</div>
</body>
</html>