<!-- ======= Student buttons ======= -->
<!-- Discard Changes and Submit form buttons -->
<div id="student-discard-submit" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-secondary" th:href="@{/dashboard/students}">
      <i class="fa fa-times-circle mr-2"></i><span th:text="#{student.cancel}"></span></a>
  </div>
  <div class="col-auto">
    <button type="submit" name="add" class="btn btn-primary">
      <i class="fas fa-check mr-2"></i><span th:text="#{student.edit.submit}"></span></button>
  </div>
</div>

<!-- Edit and Delete buttons -->
<div id="student-edit-delete" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-outline-primary" th:href="@{/dashboard/students/edit/{id}(id=${student.id})}">
      <i class="fas fa-pen mr-2"></i><span th:text="#{students.edit}"></span>
    </a>
  </div>
  <div class="col-auto">
    <a class="btn btn-outline-danger delBtn"
       th:href="@{/dashboard/students/delete/{id}(id=${student.id})}">
      <i class="fa fa-trash-can fa-lg mr-2"></i><span th:text="#{students.delete}"></span>
    </a>
  </div>
</div>




<!-- ======= Teacher buttons ======= -->
<!-- Discard Changes and Submit form buttons -->
<div id="teacher-discard-submit" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-secondary" th:href="@{/dashboard/teachers}">
      <i class="fa fa-times-circle mr-2"></i><span th:text="#{student.cancel}"></span></a>
  </div>
  <div class="col-auto">
    <button type="submit" name="add" class="btn btn-primary">
      <i class="fas fa-check mr-2"></i><span th:text="#{teacher.edit.submit}"></span></button>
  </div>
</div>

<!-- Edit and Delete buttons -->
<div id="teacher-edit-delete" class="row my-2 justify-content-end">
  <div class="col-auto">
    <a class="btn btn-outline-primary" th:href="@{/dashboard/teachers/edit/{id}(id=${teacher.id})}">
      <i class="fas fa-pen mr-2"></i><span th:text="#{teachers.edit}"></span>
    </a>
  </div>
  <div class="col-auto">
    <a class="btn btn-outline-danger" th:href="@{/dashboard/teachers/delete/{id}(id=${teacher.id})}">
      <i class="fa fa-trash-can fa-lg mr-2"></i><span th:text="#{teachers.delete}"></span>
    </a>
  </div>
</div>