<body>
<div th:fragment="nav1">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="">Classroom</a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li class="dropdown"><a href="#"><span>Actions</span> <i class="fa-light fa-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown">
                                <a th:href="@{/students}" class="nav-link">
                                    <span th:text="#{navbar.students}"></span>
                                    <i class="fa-light fa-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a th:href="@{/students/new}" class="nav-link">
                                        <span th:text="#{navbar.student.new}"></span>
                                    </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a th:href="@{/teachers}" class="nav-link">
                                    <span th:text="#{navbar.teachers}"></span>
                                    <i class="fa-light fa-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a th:href="@{/teachers/new}" class="nav-link">
                                        <span th:text="#{navbar.teacher.new}"></span>
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
</div>
</body>