<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container" >
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" th:text="#{navbar.app.name}">
                    <span th:text="#{navbar.app.name}"></span>
                </a>
            </div>
            <button type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    class="navbar-toggler"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">
                            <span th:text="#{navbar.home}"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/students}" class="nav-link">
                            <span th:text="#{navbar.students}"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/teachers}" class="nav-link">
                            <span th:text="#{navbar.teachers}"></span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/students/new}" class="nav-link">
                            <span th:text="#{navbar.student.new}"></span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a th:href="@{/teachers/new}" class="nav-link">
                            <span th:text="#{navbar.teacher.new}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--
JavaScript function to highlight navbar items in different endpoints
https://stackoverflow.com/questions/49530497/how-do-i-make-bootstrap-navbar-change-active-state
 -->
    <script>
        $(function () {
            function stripTrailingSlash(str) {
                if (str.substr(-1) == '/') {
                    return str.substr(0, str.length - 1);
                }
                return str;
            }

            var url = window.location.pathname;
            var activePage = stripTrailingSlash(url);

            $('.nav li a').each(function () {
                var currentPage = stripTrailingSlash($(this).attr('href'));

                if (activePage == currentPage) {
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>
</div>

</body>
</html>