<body>
<div th:fragment="nav-white">
    <link rel="stylesheet" th:href="@{/css/navBar.css}" type="text/css"/>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="/" th:text="#{navbar.app.name}"></a></h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero" th:text="#{navbar.home}"></a></li>
                    <li><a class="nav-link scrollto" href="#about" th:text="#{navbar.about}"></a></li>
                    <li><a class="nav-link scrollto" href="#services" th:text="#{navbar.services}"></a></li>
                    <li><a class="nav-link scrollto" href="#pricing" th:text="#{navbar.pricing}"></a></li>
                    <li class="dropdown"><a><span th:text="#{navbar.actions}"></span> <i class="fas fa-light fa-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown">
                                <a class="nav-link">
                                    <span th:text="#{navbar.students}"></span>
                                    <i class="fas fa-light fa-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a th:href="@{/students/new}" class="nav-link">
                                        <span th:text="#{navbar.add}"></span>
                                    </a></li>
                                    <li><a th:href="@{/students}" class="nav-link">
                                        <span th:text="#{navbar.view}"></span>
                                    </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link">
                                    <span th:text="#{navbar.teachers}"></span>
                                    <i class="fas fa-light fa-chevron-right"></i>
                                </a>
                                <ul>
                                    <li><a th:href="@{/teachers/new}" class="nav-link">
                                        <span th:text="#{navbar.add}"></span>
                                    </a></li>
                                    <li><a th:href="@{/teachers}" class="nav-link">
                                        <span th:text="#{navbar.view}"></span>
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="getstarted scrollto" href="#about" th:text="#{navbar.get.started}"></a></li>
                </ul>
                <i class="fas fa-bars mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
</div>
</body>