<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" type="text/css"/>
</head>

<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>
<main>
    <div class="container-fluid" id="mainFill" style="">
        <div class="container my-5 text-center">
            <h3 class="my-2"><a class="text-muted" href="../_download/instrukcja.pdf" target="_blank"><i
                    class="fa fa-book mx-2"></i>Instrukcja</a></h3>
            <p>Wszelkie uwagi odnośnie funkcjonalności programu prosimy zgłaszać na adres
                <code>serwis@classroom.pl</code></p>
        </div>
        <div class="container my-5 text-center">
            <h3 class="my-2"><a class="text-primary" href="../_download/TeamViewerQS.exe" download="TeamViewerQS.exe"><i
                    class="fa fa-tools mx-2"></i>TeamViewer</a></h3>
            <p>Zdalne wsparcie techniczne przy użyciu aplikacji TeamViewer QuickSupport</p>
        </div>
    </div>
</main>
</body>
</html>