<!DOCTYPE html>
<html lang="en">
<head>
    <header th:replace="fragments/header :: header"></header>
</head>
<body>
<section class="d-flex align-items-center min-vh-100 py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="page-wrap d-flex flex-row align-items-center"
                 style="min-height: 50vh;">
                <div class="col-md-6 text-center text-md-start ">
                    <div class="lc-block mb-3">
                        <div editable="rich">
                            <h1 class="fw-bold h4" th:text="#{error.server.header}"><br></h1>
                        </div>
                    </div>
                    <div class="lc-block mb-3">
                        <div editable="rich">
                            <h1 class="display-1 fw-bold text-muted" th:text="#{error.server.code}"></h1>
                        </div>
                    </div><!-- /lc-block -->
                    <div class="lc-block mb-5">
                        <div editable="rich">
                            <p class="rfs-11 fw-light" th:text="#{error.server.desc}"></p>
                        </div>
                    </div><!-- /lc-block -->
                    <div class="lc-block">
                        <a class="btn btn-lg btn-primary" th:href="@{/}" role="button" th:text="#{error.homepage}"></a>
                    </div><!-- /lc-block -->
                </div><!-- /col -->
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>