.container-fluid {
    min-height: 75vh;
    min-width: 85vh;
}

#tableCard {
    min-height: 75vh;
    min-width: 1100px;
}

*.icon-dark {
    color: grey;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 48px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 16px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 38px;
    width: 110px;
    background: white;
}

.size-select {
    width: 60px;
    color: #495057;
    vertical-align: middle;
    padding: 6px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#btnAddStudent{
    position: absolute;
    left: 40px;
}
#btnView {
}

#btnEdit {
    color: dimgray;
}

#btnDelete {
    color: firebrick;
}
.modal {
    font-family: 'Varela Round', sans-serif;
}

.modal-confirm {
     color: #636363;
     width: 550px;
 }
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    padding: 0 15px;
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    display: inline-block;
    font-size: 26px;
}
.modal-confirm .btn-close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    background: #ecf0f1;
    border-color: #e6eaec;
    text-align: right;
    margin: 0 -20px -20px;
    border-radius: 0 0 5px 5px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    transition: all 0.4s;
    border: none;
    padding: 8px 20px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #b0c1c6;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #92a9af;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.modal-confirm .modal-footer .btn + .btn {
    margin-left: 10px;
}