<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

<body>
<div th:replace="fragments/navBar :: nav"></div>
<div class="container text-center">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" th:text="#{home.heading}"></h1>
        </div>
        <div class="container">
            <a class="btn btn-outline-primary" th:href="@{/students}" th:text="#{home.students}"></a>
        </div>
        <div class="container">
            <a class="btn btn-outline-primary" th:href="@{/teachers}" th:text="#{home.teachers}"></a>
        </div>
    </section>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>