<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<!--Navigation Bar-->
<div th:replace="fragments/navBar :: nav"></div>

<section class="py-5 mt-0 align-items-start d-flex bg-light"
         style="min-height: 75vh;">
    <div class="container w-50">
        <div class="d-flex justify-content-center">
            <div class="card shadow">
                <h1 class="card-header text-center m-4"
                    th:text="#{student.view} + ' ' + ${student.id}"></h1>
                <div class="card-body mx-4">

                    <ul class="list-group list-group-root well">
                        <li class="list-group-item" th:text="#{student.firstName} + ': ' + ${student.firstName}"></li>
                        <li class="list-group-item" th:text="#{student.lastName} + ': ' + ${student.lastName}"></li>
                        <li class="list-group-item" th:text="#{student.email} + ': ' + ${student.email}"></li>
                        <li class="list-group-item" th:text="#{student.age} + ': ' + ${student.age}"></li>
                        <li class="list-group-item"
                            th:text="#{student.fieldOfStudy} + ': '  + ${student.fieldOfStudy.desc}"></li>
                        <li class="list-group-item">List of teachers:
                            <ul class="list-group">
                                <a class="list-group-item"
                                   th:href="@{/teachers/{id}(id=${fieldOpt.id})}"
                                   th:each="fieldOpt : ${student.teachersList}"
                                   th:value="${fieldOpt.id}"
                                   th:text="${fieldOpt.firstName} + ' ' + ${fieldOpt.lastName}">
                                </a>
                            </ul>
                        </li>
                    </ul>


                    <div class="row m-2">
                        <a class="btn btn-primary" th:href="@{/students}" th:text="#{students.back}"></a>
                    </div>

                    <div class="row m-2">
                        <a class="btn btn-outline-primary" th:href="@{/students/edit/{id}(id=${student.id})}"
                           th:text="#{students.edit}"></a>
                    </div>

                    <div class="row m-2">
                        <a class="btn btn-outline-danger" th:href="@{/students/delete/{id}(id=${student.id})}"
                           th:text="#{students.delete}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>