<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}" type="text/css"/>
</head>
<body>


<section class="py-5 mt-0 align-items-start d-flex bg-light"
         style="min-height: 75vh;">
    <div class="container w-50">
        <div class="d-flex justify-content-center">
            <div class="card shadow">
                <h1 class="card-header text-center m-4"
                    th:text="#{students.new}"></h1>
                <div class="card-body mx-4">
                    <form class="form-group needs-validation"
                          th:object="${student}"
                          th:action="@{/students/new}"
                          th:method="post">

                        <div class="row mb-4">
                            <label class="col-form-label col-sm-4"
                                   for="first_name">
                                <span th:text="#{student.firstName}"></span>
                            </label>
                            <div class="col-sm">
                                <input class="form-control"
                                       type="text"
                                       id="first_name"
                                       th:field="*{firstName}"
                                />
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}"></div>
                        </div>

                        <div class="row mb-4">
                            <label class="col-form-label col-sm-4"
                                   for="last_name">
                                <span th:text="#{student.lastName}"></span>
                            </label>
                            <div class="col-sm">
                                <input class="form-control"
                                       type="text"
                                       id="last_name"
                                       th:field="*{lastName}"
                                />
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}"
                                 th:errors="*{lastName}"></div>
                        </div>

                        <div class="row mb-4">
                            <label class="col-form-label col-sm-4"
                                   for="email">
                                <span th:text="#{student.email}"></span>
                            </label>
                            <div class="col-sm">
                                <input class="form-control"
                                       type="text"
                                       id="email"
                                       th:field="*{email}"
                                />
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}"
                                 th:errors="*{email}"></div>
                        </div>


                        <div class="row mb-4">
                            <label class="col-sm-4 col-form-label"
                                   for="age">
                                <span th:text="#{student.age}"></span>
                            </label>
                            <div class="col-sm">
                                <input class="form-control"
                                       type="number" id="age"
                                       th:field="*{age}"/>
                            </div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('age')}"
                                 th:errors="*{age}">
                            </div>
                        </div>

                        <div class="row mb-4">
                            <label class="col-form-label col-sm-4"
                                   for="field_of_study">
                                <span th:text="#{student.fieldOfStudy}"></span>
                            </label>
                            <div class="col-sm">
                                <select class="form-select" id="field_of_study" th:field="*{fieldOfStudy}">
                                    <option th:each="fieldOpt : ${T(systems.ultimate.classroom.enums.FieldOfStudy).values()}"
                                    th:value="${fieldOpt}" th:text="${fieldOpt.desc}">
                                    </option>
                                </select>
                            </div>
                        </div>

<!--                        <div class="row mb-4">-->
<!--                            <label class="col-form-label col-sm-4"-->
<!--                                   for="teachers_list">-->
<!--                                <span th:text="#{student.teachersList}"></span>-->
<!--                            </label>-->
<!--                            <div class="col-sm">-->
<!--                                <select class="form-select" multiple-->
<!--                                        id="teachers_list" th:field="*{teachersList}">-->
<!--                                    <option th:each="fieldOpt : ${teachers}"-->
<!--                                            th:value="${fieldOpt}" th:text="${fieldOpt}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="row mb-4 justify-content-center">
                            <div class="col-md-3">
                                <button type="submit" name="add" class="btn btn-primary"
                                        th:text="#{student.form.add}"></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>