<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>


<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-3 bg-success bg-gradient text-dark bg-opacity-25">
                    <h3 class="mb-0 text-center">
                        <strong th:text="#{student.success}"></strong>
                    </h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" th:text="#{student.id} + ': ' + ${student.id}"></li>
                        <li class="list-group-item" th:text="#{student.firstName} + ': ' + ${student.firstName}"></li>
                        <li class="list-group-item" th:text="#{student.lastName} + ': ' + ${student.lastName}"></li>
                        <li class="list-group-item" th:text="#{student.email} + ': ' + ${student.email}"></li>
                        <li class="list-group-item" th:text="#{student.age} + ': ' + ${student.age}"></li>
                        <li class="list-group-item"
                            th:text="#{student.fieldOfStudy} + ': '  + ${student.fieldOfStudy.desc}"></li>
                        <li class="list-group-item"
                            th:text="#{student.no.of.teachers} + ': '  + ${student.teachersList.size()}"></li>
                    </ul>

                    <!-- ======= Buttons ======= -->
                    <div th:replace="fragments/buttons :: #student-edit-delete"></div>

                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>