<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}" type="text/css"/>
</head>
<body>


<section class="py-5 mt-0 align-items-start d-flex bg-light"
         style="min-height: 75vh;">
    <div class="container w-50">
        <div class="d-flex justify-content-center">
            <div class="card shadow">
                <h1 class="card-header text-center m-4"
                    style="color: forestgreen"
                    th:text="#{student.success}"></h1>
                <div class="card-body mx-4">

                        <ul class="list-group">
                            <li class="list-group-item" th:text="'First Name: ' + ${student.firstName}"></li>
                            <li class="list-group-item" th:text="'Last Name: ' + ${student.lastName}"></li>
                            <li class="list-group-item" th:text="'Email: ' + ${student.email}"></li>
                            <li class="list-group-item" th:text="'Age: ' + ${student.age}"></li>
                            <li class="list-group-item" th:text="'Field of study: ' + ${student.fieldOfStudy.desc}"></li>
                            <li class="list-group-item" th:text="'Teachers: ' + ${student.teachersList.size()}"></li>
                        </ul>

                        <div class="row m-2">
                            <a class="btn btn-primary" th:href="@{/students}" th:text="#{students.back}"></a>
                        </div>

                        <div class="row m-2">
                            <a class="btn btn-outline-primary" th:href="@{/students/edit/{id}(id=${student.id})}" th:text="#{students.edit}"></a>
                        </div>

                    <div class="row m-2">
                        <a class="btn btn-outline-danger" th:href="@{/students/delete/{id}(id=${student.id})}" th:text="#{students.delete}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Scripts -->
<script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>