<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/delete-modal.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/view-modal.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css"/>
</head>
<body>
<!--Navigation Bar-->
<div th:replace="fragments/navBar :: nav"></div>

<section class="py-5 mt-0 align-items-start d-flex bg-light">
    <div class="container-fluid text-center">
        <div class="d-flex justify-content-center">
            <div id="tableCard" class="card">
                <h1 class="card-header my-3"
                    th:text="#{teachers.header}"></h1>
                <div class="card-body">
                    <div class="text-center h3"
                         th:text="#{teachers.desc}">
                    </div>
                    <form id="teacherForm"
                          th:action="@{/teachers}"
                          method="get">
                        <div class="row justify-content-end mb-1 mt-3">
                            <div class="col-auto">
                                <a id="btnAddTeacher"
                                   class="btn btn-outline-primary btn-lg"
                                   th:href="@{/teachers/new}"
                                   th:value="#{teachers.new}">
                                    <i class="fa-solid fa-user-plus"></i>
                                    <span th:text="#{teachers.new}"></span>
                                </a>
                            </div>
                            <div class="col-4">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                    <input id="name" type="search" name="name"
                                           class="form-control"
                                           th:placeholder="#{teachers.input}" required
                                           th:value="${name}"/>
                                    <button type="submit"
                                            value="Search"
                                            class="btn btn-outline-success"
                                            th:text="#{teachers.search}"></button>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button th:if="${name != null && !name.isEmpty()}"
                                        id="btnClear"
                                        class="btn btn-lg btn-light"
                                        th:text="#{teachers.clear}">
                                </button>
                                <button th:unless="${name != null && !name.isEmpty()}"
                                        id="btnClearDisabled"
                                        class="btn btn-lg btn-light"
                                        th:text="#{teachers.clear}"
                                        disabled>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover" th:if="${totalItems != 0}">
                            <thead>
                            <tr>
                                <th th:replace="fragments/teachers-sorting :: sorting('firstName','First Name')">
                                </th>
                                <th th:replace="fragments/teachers-sorting :: sorting('lastName','Last Name')">
                                </th>
                                <th th:replace="fragments/teachers-sorting :: sorting('age','Age')">
                                </th>
                                <th th:replace="fragments/teachers-sorting :: sorting('email','Email')">
                                </th>
                                <th th:replace="fragments/teachers-sorting :: sorting('subject','Subject')">
                                </th>
                                <th rowspan="1" colspan="1" scope="col" th:text="#{teacher.no.of.students}">
                                </th>
                                <th rowspan="2" colspan="1" scope="col" th:text="#{teachers.action}"
                                    class="align-middle"/>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="teacher: ${teachers}"
                                th:onClick="'javascript:openTeacherViewModal(\''+ ${teacher.id} + '\');'"
                                data-bs-toggle="modal"
                                data-bs-target="#teacherViewModal">
                                <td th:text="${teacher.firstName}"/>
                                <td th:text="${teacher.lastName}"/>
                                <td th:text="${teacher.age}"/>
                                <td th:text="${teacher.email}"/>
                                <td th:text="${teacher.subject.getDesc()}"/>
                                <td th:text="${teacher.studentsList.size()}"/>
                                <td>
                                    <a id="btnView"
                                       class="fa fa-eye fa-lg"
                                       th:href="@{/teachers/{id}(id=${teacher.id})}"
                                       th:title="#{teachers.view}">
                                    </a>
                                    &nbsp;
                                    <a id="btnEdit"
                                       class="fa fa-user-pen fa-lg"
                                       th:href="@{/teachers/edit/{id}(id=${teacher.id})}"
                                       th:title="#{teachers.edit}">
                                    </a>
                                    &nbsp;
                                    <a id="btnDelete"
                                       class="fa fa-trash-can fa-lg icon-dark delBtn"
                                       th:href="@{/teachers/delete/{id}(id=${teacher.id})}"
                                       th:title="#{teachers.delete}"
                                       th:teacherName="${teacher.firstName + '&nbsp;' + teacher.lastName}"
                                       data-bs-toggle="modal"
                                       data-bs-target="#teacherDeleteModal">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <caption>
                                <div class="container">
                                    <div class="row">
                                        <div class="col text-start">
                                            <span th:text="${firstItemShownOnPage} + ' - ' + ${lastItemShownOnPage} + ' of ' + ${totalItems}"></span>
                                        </div>
                                        <div class="col text-center">
                                            <nav aria-label="Pagination" th:if="${totalPages > 0}">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item"
                                                        th:classappend="${currentPage == 1} ? 'disabled'">
                                                        <a th:replace="fragments/teachers-paging :: paging(1, '<<', 'First Page')"></a>
                                                    </li>
                                                    <li class="page-item font-weight-bold"
                                                        th:classappend="${currentPage == 1} ? 'disabled'">
                                                        <a th:replace="fragments/teachers-paging :: paging(${currentPage - 1}, '<', 'Previous Page')"></a>
                                                    </li>
                                                    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                                        <a class="page-link" href="#">...</a>
                                                    </li>
                                                    <li class="page-item"
                                                        th:classappend="${page == currentPage} ? 'active'"
                                                        th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                                        <a th:replace="fragments/teachers-paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                                                    </li>
                                                    <li class="page-item disabled"
                                                        th:if="${currentPage + 2 < totalPages}">
                                                        <a class="page-link" href="#">...</a>
                                                    </li>
                                                    <li class="page-item font-weight-bold"
                                                        th:classappend="${currentPage == totalPages} ? 'disabled'">
                                                        <a th:replace="fragments/teachers-paging :: paging(${currentPage + 1},'>', 'Next Page')"></a>
                                                    </li>
                                                    <li class="page-item"
                                                        th:classappend="${currentPage == totalPages} ? 'disabled'">
                                                        <a th:replace="fragments/teachers-paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="col text-end">
                                            <label for="pageSize" th:text="#{table.rows.per.page}"></label>
                                            <select id="pageSize"
                                                    form="teacherForm"
                                                    name="size"
                                                    th:value="${pageSize}"
                                                    onchange="changePageSize()"
                                                    class="size-select"
                                            >
                                                <option th:each="s : ${ {3, 6, 9, 12} }" th:value="${s}" th:text="${s}"
                                                        th:selected="${s == pageSize}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </caption>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- View Modal -->
<div class="modal fade" id="teacherViewModal"
     tabindex="-1"
     aria-labelledby="teacherViewModalLabel" aria-hidden="true"
     th:fragment="modalContents">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="teacherViewModalLabel"
                    th:text="#{view.modal.header}"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body modal-view-body" id="viewModalBody">
                <p id="teacherFirstName">Details</p>
                <p id="teacherLastName">Details</p>
                <p id="teacherEmail">Details</p>
                <p id="teacherAge">Details</p>
                <p id="teacherFieldOfStudy">Details</p>
                <p id="teacherStudents" th:text="#{teacher.studentList}"></p>
                <div class="col-lg-12" id="students-list">
                </div>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-info" data-bs-dismiss="modal"
                   th:text="#{view.modal.btnClose}"></a>
            </div>
        </div>
    </div>
</div>
<!-- End View modal -->

<!-- Delete Modal -->
<div class="modal fade" id="teacherDeleteModal" tabindex="-1" aria-labelledby="teacherDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="teacherDeleteModalLabel" th:text="#{delete.modal.header}"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" th:aria-label="Close"></button>
            </div>
            <div class="modal-body modal-delete-body" id="deleteModalBody">
                <span id="confirmText"></span>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-info" data-bs-dismiss="modal" th:text="#{delete.modal.btnCancel}"></a>
                <a href="" class="btn btn-danger" id="delRef" th:text="#{delete.modal.btnDelete}"></a>
            </div>
        </div>
    </div>
</div>
<!-- End delete modal -->

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" src="js/teachers.js"></script>
</body>
</html>