<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
</head>
<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div id="itemCard" class="card">
                <div class="card-header py-3 bg-success bg-gradient text-dark bg-opacity-25">
                    <h3 class="mb-0 text-center">
                        <strong th:text="#{teacher.edit.success}"></strong>
                    </h3>
                </div>
                <div class="card-body mx-4">
                    <ul class="list-group">
                        <li class="list-group-item" th:text="#{teacher.id} + ': ' + ${teacher.id}"></li>
                        <li class="list-group-item" th:text="#{teacher.firstName} + ': ' + ${teacher.firstName}"></li>
                        <li class="list-group-item" th:text="#{teacher.lastName} + ': ' + ${teacher.lastName}"></li>
                        <li class="list-group-item" th:text="#{teacher.email} + ': ' + ${teacher.email}"></li>
                        <li class="list-group-item" th:text="#{teacher.age} + ': ' + ${teacher.age}"></li>
                        <li class="list-group-item"
                            th:text="#{teacher.no.of.students} + ': '  + ${teacher.studentsList.size()}"></li>
                    </ul>

                    <!-- ======= Buttons ======= -->
                    <div th:replace="fragments/buttons :: #teacherGoBackBtn"></div>

                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>