<div th:fragment="scripts">
  <script th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
  <!-- MDB -->
  <script
          type="text/javascript"
          th:src="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js}"
  ></script>

  <!-- Vendor JS Files -->
  <script type="text/javascript" th:src="@{/assets/purecounter/purecounter_vanilla.js}"></script>
  <script type="text/javascript" th:src="@{/assets/aos/aos.js}"></script>
  <script type="text/javascript" th:src="@{/assets/glightbox/js/glightbox.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/isotope-layout/isotope.pkgd.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/swiper/swiper-bundle.min.js}"></script>

  <!-- Charts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
          integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
          crossorigin="anonymous"></script>
</div>