<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <header th:replace="fragments/header :: header"></header>
    <link rel="stylesheet" th:href="@{/css/departments.css}" type="text/css"/>
</head>

<body>
<!-- ======= Navigation ======= -->
<div th:replace="dashboard/fragments/navigation :: #navigation"></div>

<main>
    <div class="container pt-4">
        <section class="mb-4">
            <div class="card">
                <div class="card-header py-4 title-bar">
                    <div class="page-title"
                         th:text="#{departments.all.card.header}">
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex mb-4">
                        <div class="p-1 ms-auto ">
                            <div th:replace="department/buttons :: btn-add-new"></div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <th:block th:each="departmentOpt, iterStat : ${departments}">
                            <div class="col">
                                <!-- ======= Item Card ======= -->
                                <div class="card itemCard">
                                    <div class="row g-0">
                                        <div class="col-auto">
                                            <div class="bg-image hover-zoom">
                                                <a class="ripple"
                                                   th:href="@{/dashboard/departments/{id}(id=${departmentOpt.id})}">
                                                    <img alt="Default image"
                                                         class="img-fluid"
                                                         th:src="@{${imagesPath} + '/' + 'default.png'}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col d-flex align-items-center">
                                            <div class="card-body">
                                                <a class="card-title h5"
                                                   th:href="@{/dashboard/departments/{id}(id=${departmentOpt.id})}"
                                                   th:text="${departmentOpt.name}"></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="text-muted mt-4"
                         th:text="#{departments.total} + ${departments.size()}">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!-- JS Scripts -->
<div th:replace="fragments/imports/scripts :: scripts"></div>
</body>
</html>